<!DOCTYPE html>
<html>
  <head>
    <title>SummernotePractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cfa43d2715.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="body-image"></div>

    <header class="navbar navbar-fixed-top header">
      <div class="container">

        <div>
          <div class="title-image">
          </div>
          <div class="title-logo">
            
          </div>
        </div>
        <nav class="nav-wrap">
          <ul class="nav navbar-nav navbar-right">
            
              <li><%= link_to ' About', '#', class: 'nav-item' %></li>
              <li><%= link_to ' Review', '#', class: 'nav-item' %></li>
              <li><%= link_to ' Blog', select_blogs_path, class: 'nav-item' %></li>
              <li class="mypage-notification"><%= link_to ' MyPage', '#', class: 'nav-item' %>
                
              </li>
              <li><%= link_to ' Contact', '#', class: 'nav-item' %></li>
              <li><%= link_to ' logout', '#', method: :delete, class: 'nav-item' %></li>
            
          </ul>
        </nav>

        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </header>

    <%#　flashメッセージ表示場所 %>
    <% if flash[:notice] %>
      <div id="flash" class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <main>
        <%= yield %>
    </main>
    <footer class="text-center footer">
      Copyright © OuchiCafe Inc. All Rights Reserved.
    </footer>
  </body>
</html>
